@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins Bold";
  src: url("../public/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Rubik Semi-Bold";
  src: url("../public/fonts/Rubik-SemiBold.ttf");
}


